<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookingApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.loading.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.CookingApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.foodDetails.FoodDetailsActivity"
            android:theme="@style/Theme.CookingApp.NoActionBar" />
        <activity android:name=".ui.activity.foodDetails.RateActivity" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:theme="@style/Theme.CookingApp.NoActionBar" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.signUp.SignUpActivity"
            android:theme="@style/Theme.CookingApp.NoActionBar" />
        <activity
            android:name=".ui.activity.addFood.AddFoodActivity"
            android:exported="false"
            android:label="@string/title_activity_add_food" />
        <activity
            android:name=".ui.activity.foodList.MyFoodListActivity"
            android:label="@string/title_activity_my_food" />
        <activity
            android:name=".ui.activity.foodList.RatedFoodListActivity"
            android:label="@string/title_activity_rated_food" />
    </application>
</manifest>
